<tr>
	<td>{{#if downloaded}}<i class="glyphicon glyphicon-ok text-success"></i>{{/if}}</td>
	<td>{{fileid}}</td>
	<td>{{fsize filesize}}</td>
	<td>
		<a href="/download/{{_id}}">
			<button type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-download-alt"></i></button>
		</a>
	</td>
</tr>