<div class="col-xs-12">
  <div class="jumbotron">
    <h1><small><i class="glyphicon glyphicon-picture"></i></small> No photos</h1>
    <p>Photos will show here as soon as they arrive.</p>
  </div>
</div>