<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-push-8">
    <div id="desktop-notifications"></div>
    <div id="inspector"></div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Available downloads</h3>
      </div>
      <div id="downloads" class="panel-body"></div>
    </div>
    <div id="delete"></div>
  </div>
  <div id="stream" class="col-xs-12 col-sm-8 col-sm-pull-4"></div>
</div>