//
// Photostreamer styles
// --------------------------------------------------

// Core mixins from Bootstrap
@import "../../bower_components/bootstrap/less/mixins.less";

// And then import Bootstrap
@import "../../bower_components/bootstrap/less/bootstrap.less";

// Override it with a Bootswatch theme
@import "../../bower_components/bootswatch/lumen/bootswatch.less";
@import "../../bower_components/bootswatch/lumen/variables.less";

// Pnotify CSS
@import (inline) "../../bower_components/pnotify/pnotify.core.css";

// Finally, some app styles

// Connection indicator
.page-header {
	.label {
		top: -35px;
		position: relative;
	}
}

// Image loading indicator
#photos {
	transition: opacity 1s;
	&.loading {
		opacity: .25;
	}
}

// Image count
#count {
	top: -4px;
	position: relative;
}

// Allow long links to break
#inspector {
	a {
		word-break: break-all;
	}
}
