/*
 * Styles for the photostream/photo grid
 */

#main {
  // Image loading indicator
  transition: opacity 1s;

  // A grid for the photos that keeps them in straight rows
  .photo {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
}

.loading #main {
  opacity: .25;
}