<!DOCTYPE html>
<html>
<head>
	<title>Photos</title>
	<link rel='stylesheet' type='text/css' href='/client.css' />
	<script src='/client.min.js'></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Photos</h1>
			<span class="label label-success connected pull-right"><i class="glyphicon glyphicon-ok-circle"></i> Connected</span>
			<span class="hidden label label-danger disconnected pull-right"><i class="glyphicon glyphicon-remove-circle"></i> Can't connect to server</span>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-sm-push-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Inspector</h3>
					</div>
					<div class="panel-body">
						<div id="inspector">
							<p>Click <button type="button" class="inspect btn btn-default btn-xs"><i class="glyphicon glyphicon-zoom-in"></i> Inspect</button> on a photo to open it here.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Available downloads</h3>
					</div>
					<div class="panel-body">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th></th>
									<th>File ID</th>
									<th>Filesize</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="downloads"></tbody>
						</table>
					</div>
				</div>
				<button id="enable-notifications" type="button" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-comment"></i> Enable desktop notifications</button>
			</div>
			<div class="col-xs-12 col-sm-8 col-sm-pull-4">
				<div id="photos" class="row"></div>
			</div>
		</div>
	</div>
</body>
</html>