<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<strong>Logo</strong>
			</a>
		</div>
		<p class="navbar-text navbar-right">Signed in as {{user.name}} (<a href="/logout">Logout</a>)</p>
	</div>
</nav>

<div class="container">
	<div class="page-header">
		<h1>Photos <span id="count" class="badge"></span></h1>
		<span id="connection-status" class="label label-warning pull-right">
			<i class="glyphicon glyphicon-flash"></i> Connecting to server
		</span>
	</div>
	<div id="main"></div>
</div>
{{#if debug}}
	<script src="//localhost:35729/livereload.js"></script>
{{/if}}
