<button type="button" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-comment"></i> Enable desktop notifications</button>
<p class="text-center">
  <small>Requires a <a href="http://caniuse.com/notifications" target="_blank">modern Web browser</a>.</small>
</p>