<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Available downloads</h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>File ID</th>
					<th>Filesize</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4">There aren't any photos available for download yet.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
