{{#if connected}}
  <span class="label label-success">
    <i class="glyphicon glyphicon-ok-circle"></i> Connected
  </span>
{{else}}
  <span class="label label-danger">
    <i class="glyphicon glyphicon-remove-circle"></i> Can't connect to server
  </span>
{{/if}}
