<thead>
  <th col-span="4">Add a new user</th>
</thead>
<tbody>
  <td>
    <input class="form-control name" type="text" placeholder="Name">
  </td>
  <td>
    <input class="form-control email" type="email" placeholder="Email address">
  </td>
  <td>
    <input class="form-control" type="text" readonly>
  </td>
  <td>
  <button type="button" class="btn btn-success save" disabled="disabled"><span class="glyphicon glyphicon-user"></span> <span class="text">Create user</span></button>
</tbody>