<td>
  <input class="form-control name" type="text" placeholder="Name" value="{{name}}">
</td>
<td>
  <input class="form-control email" type="email" placeholder="Email address" value="{{email}}">
</td>
<td>
  {{#if key}}
    <input class="form-control key" type="text" value="{{key}}" readonly>
  {{/if}}
</td>
<td>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary save"><span class="glyphicon glyphicon-floppy-disk"></span> <span class="text">Save</span></button>
  </div>
</td>